@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: Montserrat;
}

body {
  height: 100vh;
  background-color: #191819;
}

.wrapper {
  opacity: 0;
  visibility: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: all ease 0.4s;
}

.wrapper_open {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.container {
  max-width: 545px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.puzzle-game__top {
  display: flex;
  align-items: center;
  width: 100%;
}

.puzzle-game {
  width: 100%;
  position: relative;
}

.game-settings {
  width: 100%;
  max-width: 393px;
  padding: 20px;
  position: absolute;
  top: 144px;
  right: 0;
  background-color: #fff;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
  z-index: 21;
}

.game-settings_open {
  opacity: 1;
  visibility: visible;
}

.settings-heading {
  font-size: 20px;
  line-height: 24px;
}

.settings-list {
  display: flex;
  margin-top: 6px;
  gap: 14px;
}
.settings-list button {
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  background-color: transparent;
}

.size-button_active {
  border-bottom: 1px solid black;
}

.board {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 21px 22px 22px 21px;
  background-color: black;
  position: relative;
  border-radius: 20px;
}

.board-very-small {
  max-width: 417px;
  height: 417px;
}

.board-small {
  max-width: 545px;
  height: 545px;
}

.board-medium {
  max-width: 673px;
  height: 673px;
}

.board-standart {
  max-width: 801px;
  height: 801px;
}

.board-large {
  max-width: 929px;
  height: 929px;
}

.board-very-large {
  max-width: 1057px;
  height: 1057px;
}

.cell {
  width: 118px;
  height: 118px;
  background-color: #C8A2D6;
  display: inline-block;
  border-radius: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  line-height: 79px;
  color: #FFF;
  cursor: pointer;
  transition: all 0.4s ease;
}

.cell-empty {
  background: transparent;
  cursor: auto;
}

.settings-button {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url(../assets/img/settings.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 22;
}

.button {
  margin-top: 30px;
  padding: 21px 60px 20px 60px;
  font-size: 24px;
  line-height: 29px;
  color: #191819;
  background: #FFF;
  border-radius: 20px;
  transition: all ease 0.4s;
}
.button:hover {
  color: #FFF;
  outline: solid 1px #FFF;
  background: transparent;
}

.top-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
}

.about-game {
  display: flex;
  width: 100%;
  max-width: 149px;
  padding: 10px 14px;
  background-color: black;
  border-radius: 15px;
}

.about-game__text {
  margin-left: 10px;
}

.puzzle-game__heading {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 62px;
  margin-bottom: 30px;
}

.win-title {
  width: 100%;
  font-size: 24px;
  line-height: 130.9%;
  color: #FFFFFF;
}

.leaderboards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leaderboard-button {
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: transparent;
}
.leaderboard-button::after {
  content: url(../assets/img/arrow.svg);
  margin-left: 10px;
}

.leaderboards-list {
  width: 100%;
}
.leaderboards-list li {
  display: flex;
  justify-content: space-between;
  color: #FFF;
}

.leaderboards-score {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=styles.css.map */