@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$black: #191819;
$pink: #C8A2D6;
$white: #CFDDDB;

* {
    font-family: Montserrat;
}

body {
    height: 100vh;
    background-color: $black;
}

.wrapper {
    opacity: 0;
    visibility: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all ease .4s;
}

.wrapper_open {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}

.container {
    max-width: 29.30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 7.81vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.puzzle-game__top {
    display: flex;
    width: 100%;
    margin-bottom: 0.52vw;
}

.puzzle-game {
    width: 100%;
    position: relative;
}

.game-settings {
    width: 100%;
    max-width: 20.57vw;
    padding: 1.04vw;
    position: absolute;
    top: 7.50vw;
    right: 0;
    background-color: #fff;
    border-radius: 1.04vw;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;
    z-index: 21;
}

.game-settings_open {
    opacity: 1;
    visibility: visible;
}

.settings-heading {
    font-size: 1.04vw;
    line-height: 1.25vw;
}

.settings-list {
    display: flex;
    margin-top: 0.31vw;
    gap: 0.73vw;

    button {
        font-size: 0.94vw;
        line-height: 1.15vw;
        cursor: pointer;
        background-color: transparent;
    }
}

.size-button_active {
    border-bottom: 1px solid black;
}

.board {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.09vw 1.15vw 1.15vw 1.09vw;
    background-color: black;
    position: relative;
    border-radius: 1.04vw;
}

.board-very-small {
    max-width: 21.72vw;
    height: 21.72vw;
}

.board-small {
    max-width: 28.39vw;
    height: 28.39vw;
}
.board-medium {
    max-width: 35.05vw;
    height: 35.05vw;
}
.board-standart {
    max-width: 41.72vw;
    height: 41.72vw;
}
.board-large {
    max-width: 48.39vw;
    height: 48.39vw;
}
.board-very-large {
    max-width: 55.05vw;
    height: 55.05vw;
}

.cell {
    width: 6.15vw;
    height: 6.15vw;
    background-color: $pink;
    display: inline-block;
    border-radius: 0.78vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.39vw;
    line-height: 4.11vw;
    color: #FFF;
    cursor: pointer;
    transition: all .4s ease;
}

.cell-empty {
    background: transparent;
    cursor: auto;
}

.settings-button {
    display: block;
    width: 2.19vw;
    height: 2.19vw;
    background-image: url(../assets/img/settings.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 22;
}

.volume-button {
    display: block;
    width: 2.03vw;
    height: 1.98vw;
    background-image: url(../assets/img/sound.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 22;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.21vw;
        background-color: #FFF;
        left: 0;
        transform: rotate(50deg);
        opacity: 0;
        visibility: hidden;
        transition: all ease .4s;
    }
}

.volume-button_disabled {
    position: relative;

    &::after {
        content: '';
        opacity: 1;
        visibility: visible;
    }
}

.top-buttons-menu {
    display: flex;
    align-items: center;
    gap: 0.52vw;
    z-index: 23;
}

.button {
    margin-top: 1.56vw;
    padding: 1.09vw 3.13vw 1.04vw 3.13vw;
    font-size: 1.25vw;
    line-height: 1.51vw;
    color: #191819;
    background: #FFF;
    border-radius: 1.04vw;
    transition: all ease .4s;

    &:hover {
        color: #FFF;
        outline: solid 1px #FFF;
        background: transparent;
    }
}

.top-buttons {
    display: flex;
    gap: 0.52vw;
    width: 100%;
    font-size: 0.94vw;
    line-height: 1.15vw;
    color: #FFF;
}

.about-game {
    display: flex;
    width: 100%;
    max-width: 7.76vw;
    padding: 0.52vw 0.73vw;
    background-color: black;
    border-radius: 0.78vw;
}

.about-game__text {
    margin-left: 0.52vw;
}

.puzzle-game__heading {
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: 3.23vw;
    margin-bottom: 1.56vw;
}

.win-title {
    width: 100%;
    font-size: 1.25vw;
    line-height: 130.9%;
    color: #FFFFFF;
}

.leaderboards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.leaderboard-button {
    display: flex;
    margin-top: 0.52vw;
    font-size: 0.94vw;
    line-height: 1.15vw;
    color: #FFFFFF;
    background-color: transparent;
    display: flex;
    align-items: center;

    &::after {
        content: '';
        width: 0.73vw;
        height: 0.42vw;
        margin-left: 0.52vw;
        background-image: url(../assets/img/arrow.svg);
        transform: rotate(0);  
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform ease .4s;
    }
}

.leaderboard-button_active {
    &::after {
        transform: rotate(-180deg);  
    }
}

.leaderboards-list {
    width: 100%;
    margin-top: 2.08vw;
    opacity: 0;
    visibility: hidden;
    transition: all ease .4s;

    li {
        display: flex;
        justify-content: space-between;
        color: #FFF;
    }
}

.leaderboards-list_active {
    visibility: visible;
    opacity: 1;
}

.leaderboards-score {
    display: flex;
    gap: 0.52vw;

    div {
        width: 4.95vw;
        text-align: left;
    }
}

.leaderboards-item {
    &:not(:last-child) {
        margin-bottom: 0.52vw;
    }
}

.leaderboards-score-position {
    width: 100%;
    max-width: 4.43vw;
    text-align: center;
}
