@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$black: #191819;
$pink: #C8A2D6;
$white: #CFDDDB;

* {
    font-family: Montserrat;
}

body {
    height: 100vh;
    background-color: $black;
}

.container {
    max-width: 545px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-game {
    width: 100%;
}

.board {
    width: 100%;
    max-width: 545px;
    height: 545px;
    margin-left: auto;
    margin-right: auto;
    padding: 21px 22px 22px 21px;
    background-color: black;
    position: relative;
    border-radius: 20px;
}

.cell {
    width: 118px;
    height: 118px;
    background-color: $pink;
    display: inline-block;
    border-radius: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    line-height: 79px;
    color: #FFF;
    cursor: pointer;
    transition: all .4s ease;
}

.cell-empty {
    background: transparent;
    cursor: auto;
}

.button {
    margin-top: 30px;
    padding: 21px 60px 20px 60px;
    font-size: 24px;
    line-height: 29px;
    color: #191819;
    background: $white;
    border-radius: 20px;
    transition: all ease .4s;

    &:hover {
        color: $white;
        outline: solid 1px $white;
        background: transparent;
    }
}

.top-buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}

.about-game {
    display: flex;
    width: 100%;
    max-width: 149px;
    padding: 10px 14px;
    background-color: black;
    border-radius: 15px;
}

.about-game__text {
    margin-left: 10px;
}